.main-background{
    background: url(미용실.jpg);
    background-size: cover;
    color: white;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

}

.nav-sub{
    display: none;
}


.black-background{
     background: rgba(0,0,0,0.5);
     position: fixed;
     z-index: 5;
     width: 100%;
     height: 100%;
     display: block;
     transition: all 1s;
     /*스무스한 동작 변경은 transition  */
     transform: translateY(-1000px);

 }

 .white-background{
     background: white;
     width: 80%;
     margin: 150px auto;
     padding: 50px;
     border-radius: 15px;
 }


 .close {
     background-color: #f44336;
    }

.confirm, .pconfirm {
    display: none;
}

.jumbotron {
    padding: 20px;
}

.left-menu {
    width: 150px;
    height: 100%;
    background: black;    
    color: white;
    position: fixed;
    margin-left: -150px;
}